div > .vimiumHintMarker {
/* linkhint boxes */
background: white;
border-color: solid 1px silver;
}

div > .vimiumHintMarker span {
/* linkhint text */
color: black;
font-size: 12px;
}

div > .vimiumHintMarker > .matchingCharacter {
}
